<app-header></app-header>
<app-slider></app-slider>

<div id="home">
  <div class="center">
    <div id="contenido">
      <h1 class="subheader">{{ globalText.ourCategories }}</h1>

      <!-- Mostrar mensaje de error -->
      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>

      <div id="listCards">
        <div class="cardd" *ngFor="let categoria of arrayCategorias; let i = index">
          <div class="image" (click)="navigateToProductById(categoria.id, categoria.nombre)">
            <img src="https://png.pngtree.com/png-vector/20200103/ourmid/pngtree-set-of-junk-food-hand-drawn-doodle-png-image_2107377.jpg" alt="comida" />
          </div>
          <div class="contenidooo">
            <h3>{{categoria.nombre}}</h3>
            <button (click)="navigateToProductById(categoria.id, categoria.nombre)">
              {{globalText.SeeProducts}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
