
#header {
  height: 55px;
  width: 100%;
  color: white;
  background: rgb(53, 127, 187);
  position: relative; 
  padding: 0; 
  box-sizing: border-box; 
}


.center {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}


#logo {
  display: flex;
  align-items: center; 
  margin-left: 15px;
  margin-top: 8px;
}


#brand {
  margin-right: 20px; 
  color: white;
  font-size: 27px;
}


#menu {
  display: flex;
  align-items: center;
}


#menu ul {
  display: flex; 
  margin: 0;
  padding: 15px;
  list-style: none;
}


#menu ul li {
  margin: 0 20px; 
  font-size: 18px; 
}

#menu ul li.active {
  color: rgb(238, 238, 238);
  font-weight: bold; 
  border-bottom: 2px solid white;
}
